

/* Основные цвета:
Цвет заголовков #212121
Цвет текста #757575
Белый цвет #FFFFFF
Фон Героя и подвала #2F303A
Цвет Акцыента #2196F3
Второй акцент кнопки #188CE8
Цвет почты/тел в подвале rgba(255, 255, 255, 0.6)
Цвет фона Наша команда #F5F4FA
Черный цвет #000000
Тень кнопки в портфолио box-shadow:
0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);*/


:root {
    --h-text-color: #212121;
    --text-color: #757575;
    --white-color: #FFFFFF;
    --hero-back-color: #2F303A;
    --accent-color: #2196F3;
    --button-accent-color: #188CE8;
    --fot-con-text-color: rgba(255, 255, 255, 0.6);
    --team-back-color: #F5F4FA;
    --black-color: #000000;
    --box-shadow-color:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* BODY */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
   
    background-color: var(--white-color);/*цвет фона*/
    color: var(--text-color);/*цвет контента*/
    font-family: Roboto, sans-serif;/*стиль шрифта*/
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/* HEADER */
.header {
    border-bottom: 1px solid #ececec;
    background-color: var(--white-color);/*цвет фона*/
    align-items: center;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--black-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);/*цвет контента*/
}

.header-nav {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    
}

.menu-nav {
    display: flex;
    list-style: none;
    margin-left: 93px;
}

.menu-nav .item+.item {
    margin-left: 50px;

}

.logo,
.nav-link,
.nav-cont {
    text-decoration: none;
}

.menu-nav .nav-link {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--h-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover

{
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196F3;
}
.menu-nav .nav-link.act::after{
 content: "";
 display: block;
 width: 48px;
 height: 4px;
background: #2196F3;
    border-radius: 2px;
 position: absolute;
 bottom: -1px;
 width: 100%;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus{
    color: #2196F3;
}
.nav-menu .nav-link {
    color: var(--h-text-color);
    list-style: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav .nav-link.act {
color: #2196F3;
}

.menu-nav-cont {
    display: flex;
    align-items: center;
}


.contact-soc-icon-top{
    display: inline-block;
    width: 10px;
    height: 16px;
}

.contact-soc-link:hover .contact-soc-icon{
    color: #2196F3;
}

.telefon{
    display: flex;
    margin-left: auto;
    
    
}
.item-fill{
    display: flex;
    margin-right: 30px;
}   

.contact-soc-link:hover {
    color: #188CE8;/*цвет контента*/
}

.contact-soc-link:focus{
    color: #188CE8;/*цвет контента*/
}

.contact-soc-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    align-items: center;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
    color: #757575;
}
   

.contact-soc-icon{
       
        display: inline-block;
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill:currentColor ; 
}

.menu-nav-cont .item+.item {
    list-style: none;
    margin-left: 50px;
   
}

.nav-cont {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact-soc-icon-top {

    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.nav-cont:hover,
.nav-cont:focus {
    color: var(--accent-color);
}

/* HERO */


.hero {
        max-width: 1600px;
        height: 600px;
        margin: 0 auto;
        background: var(--hero-back-color);/*цвет фона*/
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url(../img/compania.jpg);/*фоновое изображение*/
        background-repeat: no-repeat;/*повторение фона*/
        background-size: cover;/*размер фона*/
        background-position: center;/*позиция фона*/
    }
   



.hero-title {
    display: block;
    font-weight: 900;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
}

/* BUTTOM */
.button {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    background: var(--accent-color);/*цвет фона*/
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    margin: 0;
    border: 0; /*рамка*/
    border-radius: 4px; /*скругление рамки*/
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
.button:focus {
    background: var(--button-accent-color); /*фон*/

}
.bakdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.bakdrop.is-hidden.modal{
    transform: translate(-50%, -50%) scale(0.9);
}

.bakdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
}

.modal{
    width: 528px;
    height: 581px;
    background: white;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px
}
.closer{
border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.1);
    margin-left: 490px;
    margin-top: 8px;


}

.krest{
    width: 11px;
    height: 11px;
    align-items: center;

}

/* Особенности компании */
.conteiner-pol{
    display: flex;/*вид флекс-контейнера*/
    flex-wrap: wrap;
    
    justify-content: center;
}
.compan {
    list-style: none;
    display: flex;/*вид флекс-контейнера*/
padding-left: 30px;
}

.compan-item {
    border-radius: 4px;
    display: flex;/*вид флекс-контейнера*/
    box-sizing: border-box;
     width: 270px;
        height: 120px;
        margin-right: 30px;
        margin-bottom: 30px;
        
        background: #F5F4FAF5;
       
        justify-content: center;
            align-items: center;
            
}

.compan-soc-icon{
    width: 70px;
        height: 70px;
}

.compan-soc-link:hover {
    border-color: #188CE8; /*цвет рамки*/
    fill: #188CE8;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: 0;
}

.skils-com-lict {
    list-style: none;
    display: flex;
}

.skils-com-lict .item+.item {
    margin-left: 30px;
}

.com-list-item {
    width: 270px;
}

.com-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--h-text-color);
    margin: 0;
    margin-bottom: 10px;
}


.com-item-text {
    line-height: 1.7;
    letter-spacing: 0.03em;
}


/* Чемы мы занимаемся */
.box {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    
}
.item{
    position: relative;
}
.name {
    margin-top: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    
    color: #FFFFFF;
}
.work {
    padding-top: 0;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h-text-color);
    margin-bottom: 50px;
}

.work-list {
    list-style: none;
    display: flex;
}

.work-list .item+.item {
    margin-left: 30px;
}



/* Наша команда */

.team {
    background-color: var(--team-back-color); /*цвет фона*/

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h-text-color);
    margin-bottom: 50px;
}

.team-list {
    list-style: none;
    display: flex;
}

.team-list .cart-team+.cart-team {
    margin-left: 30px;
}


.container-obmotka{
    padding-top: 30px;
    padding-bottom: 30px;
}


.cart-team {
    background-color: var(--white-color);/*цвет фона*/
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.team-img {
   
}

.cart-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--h-text-color);
    
    margin-bottom: 8px;
}

.cart-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    
}

.studia-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.studia-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);/*цвет фона*/
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
background: rgba(255, 255, 255, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studia-soc-icon{
    width: 20px;
    height: 20px;
}
.studia-soc-link:hover  {

background-color: #2196F3;
fill: #FFFFFF;
}

.studia-soc-link:focus{
    background-color: #2196F3;
        fill: #FFFFFF;
}

.compania-title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
       padding-bottom: 50px;
        color: #212121;
}

.compania{
    list-style: none;
    display: flex;
   justify-content: center;
   gap: 30px
   ;
}

    .compania-item{
        display: flex;
        box-sizing: border-box;
        justify-content: center;
            
            width: 170px;
            height: 92px;
            
        
        background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
        gap: 30px;
    }

.compania-soc-icon{
    width: 106px;
    height: 60px;
}


.studia-soc-item{
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.compania-soc-link{
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.compania-soc-link:hover {
    border-color:#188CE8 ;
    fill: #188CE8;
    
}
.compania-soc-link:focus{
    border-color: #188CE8;
        fill: #188CE8;
}
.compania-soc-icon{


    }
/* Страница Портфолио */

/* кнопки-фильтры портфолио */
.menu-btn-list {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.menu-btn-list .item+.item {
    margin-left: 8px;
}

.filtre {
    font-family: 'Roboto';
        font-style: normal;
    background: var(--team-back-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtre:hover,
.filtre:focus {
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: var(--box-shadow-color);
}


/* сетка портфолио */

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-cart {
    position: relative;
    background: var(--white-color);
    list-style: none;
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.portfolio-cart:hover .product-thumb{
    transform: translateY(0%);
    transition: transform 250ms linear ;
    
}
.product-actions{
    position: relative;
    overflow: hidden;
}
.product-thumb{
    font-family: 'Roboto';
        font-style: normal;
        font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: 400;
    line-height: 1.56;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    padding: 40px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms linear;
    

}
.portfolio-cart:hover{
    box-shadow: unset;
    transform: translate(10px 10px);
    background: #FFFFFF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cart:nth-last-child(3n+1) {
    margin-right: 0;
}

.portfolio-cart:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.cart-link {
    text-decoration: none;
}

.item-div {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--h-text-color);
    margin-bottom: 4px;
}

.portfolio-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}



/* FOOTER */


.footer-section {
    background-color: var(--hero-back-color);
    padding-top: 60px;
        padding-bottom: 60px;
        
}

.footer-content {
    
}

.logo.foot {
    display: block;
    margin-bottom: 20px;
}
.item-foot{
    margin-right: 0%;
}

.contact-footer {
    display: block;
    font-style: normal;
    list-style: none;
}

.contact-footer .item-foot+.item-foot {
    margin-top: 9px;
}

.address,
.footer-cont {
    text-decoration: none;
}

.footer-studio {
    color: var(--white-color);
}

.address {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}

.footer-cont {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--fot-con-text-color);
}

.footer-cont:hover,
.footer-cont:focus {
    color: var(--accent-color);
}

.fotter-lop{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        padding-right: 70px;
}

.blog-soc{
    display: flex;
    justify-content: center;
   margin-top: 0%; 
    
}

.studia-soc-item{
background: rgba(255, 255, 255, 0.1);
}
.stud-soc-link{
    background: rgba(255, 255, 255, 0.1);
}
.blog-soc-item{
    margin-right: 10px;
}

.footer-content{
 
        display: flex;
        align-items: baseline;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    
}

.spisok{
margin-left: 70px;
}
.golova{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
        color: #FFFFFF;
        padding-bottom: 20px;
}
.flex{
    display: flex;

}
.copy-soc{
    
    display: flex;
    list-style: none;
    gap: 10px;
}

.compania-item{
    background: rgba(255, 255, 255, 0.1);
}

.stud-soc-icon{
    width: 20px;
    height: 20px;
}

.stud-soc-link:hover {

    background-color: #2196F3;
    fill: #FFFFFF;
}
.stud-soc-link:focus{
    background-color: #2196F3;
        fill: #FFFFFF;
}
.stud-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: ;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}